body{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    
}
a {
    text-decoration: none;
  }
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-wrapper{
    min-width: 940px;
    
    background-color: #849d8f;
    background-image: url("../img/main_Ice-cream.png");
    background-position: top center;
    background-repeat: no-repeat;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/main-Ice-cream2.png");
}

.site-wrapper::after {
  background-image: url("../img/main-Ice-cream3.png");
}

.container-glob{
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-nav{

    display: flex;
    flex-direction: column; 
}
.user-nav{
    display: flex;
    justify-content: flex-end;

    align-items: center;
    margin-left: 306px;
    width: 267px;
    
}
.container{
    margin: 0 auto;
    
}
.main-nav-wrapper .container{
    display: flex;
    justify-content: flex-start;
}

.main-logo{
    margin: 10px 20px;
    
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 409px;
    
    line-height: 18px;
    
    
}
.navigation a{
    border-bottom: 1px solid #9fb3a8; 

}
.navigation a,
.user-nav a{
    display: block;
   
    margin: 7px 10px;
    padding-left: 5px;
    padding-right: 5px;

    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}
.navigation a:hover{
    color: #333333;
    border: 2px solid #ffffff;
    background: #ffffff;
    border-radius:50px;
}
.user-nav{
    display: flex;
    width: 270px;
    
    
}
.user-nav a{
    border: 2px solid #ffffff;
    border-radius: 50px;
}
.user-login{
    font-size: 14px;
    font-weight: medium;
}

.user-login .login-link{
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    padding-left: 40px;
}
.login-link::before{
    content: "";

    position: absolute;
    top: 5px;
    left: 6px;

    width: 21px;
    height: 19px;
    background-image: url("../img/Вход.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-nav .shop-cart{
    position: relative;
    padding: 5px 15px;
    padding-left: 40px;
    font-size: 14px;
    font-weight: medium;
}
.shop-cart::before{
    content: "";

    position: absolute;
    top: 5px;
    left: 6px;

    width: 21px;
    height: 20px;
    background-image: url("../img/Корзина2.svg");
    background-repeat: no-repeat;
    background-position: 0 0; 
}
.search-btn{
    display: block;

    width: 32px;
    margin-left: 0;
    padding: 3px;
    text-align: center; 
}
.phone-numb{
    display: flex;
    margin: 0 0;
    align-items: flex-start;
    justify-content: flex-end;
    
}
.phone{
    margin: 0;
    padding-right: 27px;

    font-size: 14px;
    line-height: 16px;
    
}
.phone b{
    font-size: 22px;
    line-height: 24px;
}

.slider{
    position: relative;

    padding: 270px;
    padding-bottom: 40px;
    text-align: center;
    
}
.slide{
    display: none;
}
.slider-title{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.button{
    display: inline-block;
    padding: 12px 44px;
    

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.75);

    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border:none;
    
    cursor: pointer;
}
.button:hover{
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active{
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls{
    position: absolute;
    bottom: 63px;
    left: 25px;
    z-index: 1;

    font-size: 0;
}
.slider-controls label{
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3{
    display: block;
}
#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/main_Ice-cream.png");
}
  
#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/main-Ice-cream2.png");
}
  
#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/main-Ice-cream3.png");
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}


.variations-ice-cream{
    margin-bottom: 40px;
}
.variations-jam{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    
}

.raspberries{
    display: block;
    margin-left: 20px;
    width: 560px;
    padding: 20px;
    
    background-image: url("../img/malinka-bg.png");
    background-position: 0 0;
    background-repeat: no-repeat;   
}

.chocolate{
    display: block; 
    width: 560px;
    padding: 20px;
    background-image: url("../img/last-chok.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    
}
.variations-jam b{
    font-size: 35px;
    font-weight: bold;
}
.variations-jam p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}
.choise-btn{
    padding: 0;
    margin-left: 355px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;

    width: 160px;
}
.variations-ice-cream{
    margin-bottom: 20px;
}
.list-ice-cream{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item-ice-cream{
    position:relative;
    width: 267px;
    margin-bottom: 30px;
    
}
.item-ice-cream .item-hit{
    position:absolute;
    top:-1px;
    left:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
    z-index:1;
    background: url("../img/ХИТ.svg") no-repeat 0 0;
}
.item-ice-cream .item-price{
    position:absolute;
    bottom: 100px;
    left:-1px;
    z-index:1;
}
.item-ice-cream span{
    font-size: 45px;
    font-weight: bold;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);   
}
.item-ice-cream p{
    width: 267px;
    margin-top: 10px;

    font-weight: medium;
    text-align: center;
}
.item-ice-cream a{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.about-glacy{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;

    background-color: #efe5cf;
    background: url("../img/bg-cream.jpg");
    color: #323232;
    border-radius: 20px;
}
.glacy-info{
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: medium;
    line-height: 30px;
}

.about-list{
    display: flex;
    flex-wrap: wrap;
}
.about-item{
    display: flex;
    align-self: flex-start;
    width: 484px;
    padding-left: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.about-item p{
    display: inline-block;
    margin-top: 0;
}

.about-item:nth-child(1){
    
    background-image: url("../img/Мороженко.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.about-item:nth-child(2){
    

    background-image: url("../img/Корова.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.about-item:nth-child(3){

    background-image: url("../img/Листик.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.about-item:nth-child(4){
    
    background-image: url("../img/Градусник.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}



.index-columns{
    display: flex;
    justify-content: space-between;  
}
.blog-post{
    width: 560px;
    padding: 25px 20px;
    margin-left: 20px;

    background-image: url("../img/background-klubnika.png");
    height: 220px;
    background-repeat: no-repeat;
}
.blog-post b{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #353535;
    
}
.blog-post p{
    width: 280px;
}
.blog-post a{
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    border-bottom: 2px solid #353535;
}
.subscribe{
    display: block;
    width: 560px;
    margin-right: 20px;

    background: url("../img/Почтовый-фон.png") 0 0 no-repeat;
    
}
.subscribe-wrapper{
    display: inline-block;
    width: 549px;
    margin: 5px;
    
    background: #f8f7f4;
    color: #5a5a5a;
    
}
.subscribe-wrapper p{
    margin: 15px 20px;
}
.sub-mail{
    margin-top: 40px;
}
.mail{
    box-sizing: border-box;
    width: 365px;
    margin-left: 20px;
    padding: 13px 15px;

    font: inherit;
    color: #323232;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px;
}
.mail:hover{
    border: 2px solid rgb(178, 178, 178);
}
.mail:focus{
    border: 2px solid #8fbdec;
    border-radius: 5px;
}
.send-button{
    margin-left: 10px;
    margin-bottom: 37px;
    width: 130px;
    padding: 5px 20px;

    font-size: 18px;
    font-weight: bold;
}

.map{
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
}
.map-adress{
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    width: 300px;
    right: 27px;
    top: 60px;
    padding: 15px 25px;
    
    color: #323232;
    background-color: #fefefe;
    border-radius: 20px;
   }
.map-adress p{
    width: 180px;

    font-size: 14px;
    line-height: 20px;
}
.map-adress b{
    font-size: 18px;
    line-height: 24px;
}
.map-feedback{
    width: 250px;
    padding: 10px 27px;
    margin-top:10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.main-footer .container{
    display: flex;
}
.main-footer{
    padding: 26px 27px;
}
.social-items{
    display: flex;
    width: 267px;
}
.social-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    
}
.social-icon path{
    fill: #e6ebe9;
}
.social-icon:hover path{
    fill: #ffffff;
}
.social-icon:active path{
    fill: #e6ebe9;
}

.about-us{ 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 335px;
    margin-left: 135px;
}


.about-us a{
    
    padding-left: 25px;

    color: #ffffff;
    font-size: 13px;
}
.foru{
    font-weight: bold;
}
.foru::before{
    content: "";

    position: absolute;
    top:12px;
    left:6px;
    width: 15px;
    height: 13px;
    background: url("../img/Сердце.svg");
}
.made-it{
    margin-left: auto;
    
    width: 267px;
    
}

.made-it p{
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.main-footer a{
    margin-top: 0 auto;
    font-size: 13px;
    color: #ffffff;
}

.catalog-wrapper{
   background-color: #849d8f;
}
.container-wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

.filter-item{
    width: 220px;
    margin: 0;
    padding: 0;
    border: none;
}
.range-filter{
    width: 220px;
}

.range-controls{
    position: relative;
    height: 25px;
    padding-top: 16px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #aabbb1;
    border-radius: 20px;
}
.range-controls .scale{
    height: 4px;
    background: #d1dad3;
}
.range-controls .bar{
    width: 70%;
    height: 4px;

    background: #f8f7f4;
}
.range-controls .toggle{
    position: absolute;
    top: 9px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    border-radius: 50%;
    background: #ababab;
    cursor: pointer;
}
.range-controls .toggle-min{
    left: 18px;
}
.range-controls .toggle-max{
    left: 140px;
}

.bc-list{
    display: flex;
}
.bc-item{
    
    margin-right:  20px;
}
.bc-item a{
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}
.title-ice-cream{
    display: inline-block;
    margin-top: 10px;
    
}

.price-field{
    margin-bottom: 30px;
}
.sort-form{
    display: flex;
    flex-wrap: wrap;
}
.rate-sort{
    border:none;
    width: 180px;
}
.tool-bar{
    display: flex;
    flex-wrap: wrap;
}
.wrapp-bar span{
    margin-left: 15px;
}

.sorting-list{
    width: 175px;
    margin-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #a9bab0;
    border-radius: 20px;
}

.fat-radio{
    width: 415px;
    border:none;
}
.sorting-fat{
    display: flex;
    width: 410px;
    padding-left: 15px; 
    padding-top: 8px;
    padding-bottom: 8px;

    background-color: #a8b9af;
    border-radius: 20px;
}
.sorting-fat li{
    margin-right: 15px;
    padding-left: 30px;
}
.sorting-fat label{
    position: relative;
    display: block;
}
.filter-input + label::before{
    content: "";

    position: absolute;
    top: -2px;
    left: -34px;
    width: 20px;
    height: 20px;
    padding: 0;

    border: 4px solid #eef2f0;
    border-radius: 50%;
    background-color: #aabbb1;
    cursor: pointer;
}

.filter-checked:checked + label::after{
    content: "";

    position: absolute;
    top: 6px;
    left: -25px;
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: #eef2f0;
    border-radius: 50%;
}

.various-jam{
    width: 700px;
    border:none;
}
.jam-list{
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #a8b9af;
    border-radius: 20px;
}
.jam-list li{
    margin-right: 15px;
    padding-left: 35px;
}
.jam-list label{
    position: relative;

    display: block;
    cursor: pointer;
}
.jam-item input[type="checkbox"] + .checkbox-indicator{
    content: "";
    position: absolute;
    top:0;
    left: -35px;

    width: 18px;
    height: 18px;
    border: 3px solid #e1e7e3;
    border-radius: 3px;
}
.jam-item input[type="checkbox"]:checked + .checkbox-indicator::before,
.jam-item input[type="checkbox"]:checked + .checkbox-indicator::after{
    content: "";

    position: absolute;
    background-color: #eef1ef;
}
.jam-item input[type="checkbox"]:checked + .checkbox-indicator::before{
    top: 7px;
    left: 2px;
    width: 10px;
    height: 4px;
    transform: rotate(50deg);
}
.jam-item input[type="checkbox"]:checked + .checkbox-indicator::after{
    top:3px;
    left:5px;
    width: 20px;
    height: 4px;
    transform: rotate(-50deg);  
}
.filter-button{
    box-sizing: border-box;
    margin-top: 30px;
    height: 35px;
    width: 145px;
    padding: 10px 30px;
    padding-top: 6px;

    vertical-align: middle;
    color: #ffffff;
    background-color: #a6b7ad;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.control-pages{
    position: relative;
}
.page-list{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.page-list li{
    box-sizing: border-box;
    margin-right: 5px;
}
.page-list a{
    color: #fff;
    padding: 5px 10px 5px;

}
.page-list a:hover{
    background-color: #fff;
    color: #000000;
    border-radius: 50%;
}